/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================CSS VARIABLES===================> */

:root{
    --h1-size: 7rem;
    --h2-size: 2.1rem;
    --h3-size: 1.7rem;
    --text-size: 1.3rem;
    --horizontal-margin-spacing:6rem;
    --grey-color-light: rgba(232,230,230,.6);
    --grey-color: rgba(232,230,230,1);
}

html {
    scroll-behavior: smooth;
  }

/* <===================UNIVERSAL CSS===================> */

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #212121;
}
html{
    scroll-behavior: smooth;
}
.hz-margin{
    padding: 0 var(--horizontal-margin-spacing);
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
}
h3{
    font-size: var(--h3-size);
    font-weight: 500;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.text{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--text-size);
    line-height: 1.3rem;
}
.huge-btn{
    display: block;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #212121;
    padding: 25px 30px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0px;
    text-align: center;
}
.huge-btn:hover{
    color: grey;
    border-color: grey;
}
.v-reposition-container{
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100vw;
}
.h-reposition-container{
    width: 100vw;
    position: relative;
    top: 80vh;
}

a:hover{
    color: orange;
    transition: .5s;
}

@media (max-width: 500px) {
    h1 {
        font-size: 5rem;
    }
}

/* <===================NAVBAR===================> */

/* <===================NAVBAR===================> */

nav{
    height: 3vh;
    width: 100%;
    margin-bottom: 10vh;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color: orange;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px; /* Adjust based on nav height */
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1000px){
    label.logo{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 10px;
    }
    html{
        font-size: 10px;
    }
}
@media (max-width:570px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        top: 80px;
        font-weight: bold;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav li ul a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: grey;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 570px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        top: 80px;
        font-weight: bold;
        left: -100%; /* Hidden initially */
        text-align: center;
        transition: all 0.5s;
    }

    #check:checked ~ ul {
        left: 0; /* Visible when checked */
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
}


/* <===================HOME===================> */

.home h3 {
    margin: 7vh 0;
}

.home h1 {
    margin: 5vh 0;
    font-size: 6rem;
}

.home p {
    margin: 1vh 0;
}

.huge-btn{
    margin: 10vh 0px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-out{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-img{
    background-image: url('./photos/IMG_5147.webp');
    background-size: cover;
    background-position: center;
}
.home-img-sm{
    display: none;
    width: 100%;
    margin: 20px 0 0 0;
    height: 50vh;
}
#home-img-lg{
    display: block;
    height: 110vh;
    width: 50vw;
    background-position-x: -100px;
}
@media (max-width:1000px){
    .container-out{
        flex-direction: column;
    }
    .home-img-sm{
        display: block;
        margin: 50px;
        width: auto;
        height: 60vh;
    }
    #home-img-lg{
        height: 130vh;
        display: none;
        margin: 30px;
        width: auto;
    }
    .huge-btn{
        margin: 80px 0px;
    }
}

@media (max-width:570px){
    .home h3 {
        margin: 1vh 0;
    }
    .home h1 {
        margin: 1vh 0;
    }
    .home p {
        margin: 0vh 0;
    }
    .huge-btn{
        margin: 30px auto;
    }
    .home-img-sm{
        height: 70vh;
        display: block;
        margin: 30px;
        width: auto;
    }
}

/* <===================TIMELINE===================> */

.timeline{
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 6vh var(--horizontal-margin-spacing);
}
.timeline-container{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    justify-content: space-around;
    align-items: center;
}
.timeline-img {
    height: 70vh;
    width: 20%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 30px;
    position: relative;
    overflow: hidden;
}

.timeline-img-1 {
    background-image: url('./photos/iglesia.webp');
}
.timeline-img-2 {
    background-image: url('./photos/restaurante.webp');
}
@media (max-width: 1000px) {
    .timeline-img {
        height: 20vh;
        width: 90%;
        margin: 10px;
    }
}

.timings{
    margin: 30px 30px 0px 30px;
    width: 40%;
}
.timeline-container .text{
    padding: 1rem 0 1rem 4rem;
    margin: 10px 0;
}
@media (max-width:1000px){
    .timeline{
        background-color: var(--grey-color);
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        backdrop-filter: blur(0);
        height: fit-content;
    }
    .timeline-container{
        flex-direction: column;
    }
    .timeline-img-1, .timeline-img-2 {
        height: 10vh; /* Ajusta el alto para pantallas más pequeñas */
        width: 90%;
        margin: 10px;
        background-attachment: scroll; /* Deshabilita el efecto en pantallas pequeñas */
    }
    .timings{
        margin: 30px 30px 0px 30px;
        width: 85%;
    }
}

/* <===================STORY===================> */

#story{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#story h3{
    width: 40vw;
}
#story p{
    width: 40vw;
    text-align: justify;
    font-size: var(--h3-size);
    line-height: var(--h3-size);
}
@media (max-width:1000px){
    .h-reposition-container{
        position: relative;
        top: 0;
    }
    #story{
        flex-direction: column;
    }
    #story h3{
        width: 100%;
        margin: 5px 0;
        font-size: var(--h3-size);
    }
    #story p{
        width: 100%;
        margin: 5px 0;
        font-size: var(--text-size);
        line-height: var(--text-size);
    }
}

/* <===================GALLERY===================> */

.gallery{
    display: flex;
    padding: 5vh 0;
    justify-content: center;
    align-items: center;
}
.gallery-img{
    width: 30vw;
    height: 30vw;
    margin: 3vh 3vh;
    background-size: cover;
    background-position: center;
}
.gallery-img:nth-child(1){
    background-image: url('./photos/IMG_0350.webp');
}
.gallery-img:nth-child(3){
    background-image: url('./photos/IMG_0363.webp');
}
.gallery-img:nth-child(2){
    background-position-y: top;
    background-image: url('./photos/IMG_0377.webp');
}
@media (max-width:1000px){
    .gallery{
        flex-direction: column;
        padding: 0;
    }
    .gallery-img{
        width: 80%;
        height: 90vw;
    }
    .gallery-img:nth-child(2){
        position: relative;
        left: -(var(--horizontal-margin-spacing));
    }
}

/* <===================QUOTE===================> */
.quote{
    margin: 7vh 0;
}
.quote h1{
    width: 55vw;
    font-size: 4rem;
    text-align: center;
    margin: auto;
}
.author{
    text-align: center;
    margin: 20px 0 10vh 0;
}
@media (max-width:1570px){
    .quote h1{
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* <===================HANDS===================> */

.hands{
    height: 120vh;
    width: 100%;
    background-image: url('./photos/rioja.jpg');
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* <===================STAY===================> */
#stay{
    background-color: var(--grey-color);
    padding: 7vh 5vh;
    margin: 0;
}
.stay-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20vh 0;
}
.stay-item .text{
    margin: 20px 20px;
}
.links{
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width:1000px){
    .stay-container{
        flex-direction: column;
        margin: 10px;
    }
    .stay-item .text{
        margin: 2vh 0 3vh 5vh;
    }
    .stay-item * {
        margin: 2px 0;
    }
    .stay-item {
        margin: 3vh 0;
    }
}

/* <===================REGISTRY===================> */

#registry{
    padding: 10vh var(--horizontal-margin-spacing) 0 var(--horizontal-margin-spacing); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.registry-container{
    display: block;
    width: 30vw;
}
.registry-container .text{
    text-align: justify;
    margin: 50px 0;
}
.copy-btn {
    position: relative;
    transform: translateY(10%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Adjust icon size */
    color: #202020;
    padding: 0;
}

.copy-btn:hover img {
    fill: #717171;
}

.copy-btn:hover .svg-copy {
    fill: #717171;
}

.svg-copy {
    color: white;
    fill: #3e3e3e;
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
}

.huge-btn:hover {
    background-color: #212121;
    color: white;
    span {
        color: white;
    }
    svg {
        fill: white;
    }
}

.registry-img {
    display: block;
    height: 90vh;
    width: 40vw;
    background-image: url('./photos/IMG_4101.webp');
    background-size: cover; /* Ensures the image covers the container */
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

.registry-img-sm{
    display: none;
}
.registry-img-lg{
    display: block;
}
@media (max-width:1000px){
    #registry{
        flex-direction: column;
    }
    .registry-img{
        width: 100%;
        height: 50vh;
    }
    .registry-img-sm{
        margin-top: 10vh;
        display: block;
    }
    .registry-img-lg{
        display: none;
    }
    .registry-container{
        width: 100%;
    }
    #registry .huge-btn{
        margin-inline: auto;
    }
}


/* <===================PARTING MESSAGE===================> */
.parting-message h1{
    margin: 0vh 20vh 20vh 20vh;
    text-align: center;
}
.parting-message .huge-btn{
    margin:  2vh auto;
    padding: 2.5vh 5vh;
    font-size: 1.5rem;
}

/* <===================FOOTER===================> */

footer{
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
    background-color: var(--grey-color);
    padding: 10vh 30px;
}
footer h2{
    font-size: 2Srem;
    font-weight: normal;
}



/* <===================PERSONAL===================> */

.atention{
    text-align: left;
    margin: 10px 10px 5vh 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}




/* ... (previous CSS remains the same) ... */

@media (max-width: 1000px) {
    .parting-message h1{
        margin: 15vh 10vh 5vh 10vh;
        text-align: center;
    }

    .home h1 {
        line-height: 1.2;
        font-size: 5rem;
    }
}

@media (max-width: 570px) {
    :root {
        --h2-size: 2.4rem;
        --h3-size: 2rem;
        --text-size: 1.9rem;
        --horizontal-margin-spacing: 2rem;
    }

    .hands {
        display: none;
      }

    .home * {
        margin: 4vh 0;
    }

    .atention {
        margin: 10px 0;
        font-size: 1.4rem;
    }

    .home h1 {
        line-height: 1.2;
        font-size: 5rem;
    }

    .home h3 {
        margin: 2vh 0;
    }

    .home p {
        margin: 1vh 0;
    }

    .huge-btn {
        margin: 8vh auto;
        padding: 15px 20px;
        font-size: 1.9rem;
    }

    #story p {
        font-size: var(--text-size);
        line-height: 1.5;
    }

    .quote h1 {
        font-size: 1.8rem;
        line-height: 1.9;
        width: 80vw;
    }

    .text{
        line-height: 2rem;
    }

    .timeline-img {
        display: none;
    }

    .parting-message .huge-btn{
        margin:  2vh auto;
        padding: 2.5vh 5vh;
        font-size: 1.5rem;
    }

    .parting-message h1 {
        margin: 15vh 0vh 5vh 0vh;
    }

    #iban {
        font-size: 1.4rem;
    }

    .svg-copy {
        width: 12px; /* Adjust icon size */
        height: 12px; /* Adjust icon size */
    }

    .registry-img {
        width: 90%;
        margin: 0 auto;
    }
}

/* ... (previous CSS remains the same) ... */

/* <===================HANDS===================> */


/* ... (rest of the CSS remains the same) ... */